<div class="dagre-container">
    <div class="dagre-graph">
        {{#each nodes}}
            <div class="dagre-node">
                <div class="dagre-node-content">
                    <div class="dagre-node-title">{{this.title}}</div>
                </div>
            </div>
        {{/each}}
    </div>
</div>